stack/Debug/Source.obj
stack/Debug/stack.Build.CppClean.log
stack/Debug/stack.log
stack/Debug/stack.vcxproj.FileListAbsolute.txt
stack/Debug/vc142.idb
stack/Debug/vc142.pdb
stack/Debug/stack.tlog/CL.command.1.tlog
stack/Debug/stack.tlog/CL.read.1.tlog
stack/Debug/stack.tlog/CL.write.1.tlog
stack/Debug/stack.tlog/link.command.1.tlog
stack/Debug/stack.tlog/link.read.1.tlog
stack/Debug/stack.tlog/link.write.1.tlog
stack/Debug/stack.tlog/stack.lastbuildstate
revers-polish-notation/revers-polish-notation.vcxproj
revers-polish-notation/Debug/revers-polish-notation.log
revers-polish-notation/Debug/reversePolishNotation.obj
revers-polish-notation/Debug/Source.obj
revers-polish-notation/Debug/vc142.idb
revers-polish-notation/Debug/vc142.pdb
revers-polish-notation/Debug/revers-p.1A268A49.tlog/CL.command.1.tlog
revers-polish-notation/Debug/revers-p.1A268A49.tlog/CL.read.1.tlog
revers-polish-notation/Debug/revers-p.1A268A49.tlog/CL.write.1.tlog
revers-polish-notation/Debug/revers-p.1A268A49.tlog/link.command.1.tlog
revers-polish-notation/Debug/revers-p.1A268A49.tlog/link.read.1.tlog
revers-polish-notation/Debug/revers-p.1A268A49.tlog/link.write.1.tlog
revers-polish-notation/Debug/revers-p.1A268A49.tlog/revers-polish-notation.lastbuildstate
deque/Debug/deque.Build.CppClean.log
deque/Debug/deque.log
deque/Debug/deque.vcxproj.FileListAbsolute.txt
deque/Debug/Source.obj
deque/Debug/vc142.idb
deque/Debug/vc142.pdb
deque/Debug/deque.tlog/CL.command.1.tlog
deque/Debug/deque.tlog/CL.read.1.tlog
deque/Debug/deque.tlog/CL.write.1.tlog
deque/Debug/deque.tlog/deque.lastbuildstate
deque/Debug/deque.tlog/link.command.1.tlog
deque/Debug/deque.tlog/link.read.1.tlog
deque/Debug/deque.tlog/link.write.1.tlog
algs-and-structs-lab/Debug/algs-and-structs-lab.Build.CppClean.log
algs-and-structs-lab/Debug/algs-and-structs-lab.log
algs-and-structs-lab/Debug/algs-and-structs-lab.vcxproj.FileListAbsolute.txt
algs-and-structs-lab/Debug/Source.obj
algs-and-structs-lab/Debug/vc142.idb
algs-and-structs-lab/Debug/vc142.pdb
algs-and-structs-lab/Debug/algs-and.A34AED1F.tlog/algs-and-structs-lab.lastbuildstate
algs-and-structs-lab/Debug/algs-and.A34AED1F.tlog/CL.command.1.tlog
algs-and-structs-lab/Debug/algs-and.A34AED1F.tlog/CL.read.1.tlog
algs-and-structs-lab/Debug/algs-and.A34AED1F.tlog/CL.write.1.tlog
algs-and-structs-lab/Debug/algs-and.A34AED1F.tlog/link.command.1.tlog
algs-and-structs-lab/Debug/algs-and.A34AED1F.tlog/link.read.1.tlog
algs-and-structs-lab/Debug/algs-and.A34AED1F.tlog/link.write.1.tlog
stack/stack.vcxproj
stack/stack.vcxproj.filters
stack/stack.vcxproj.user
revers-polish-notation/revers-polish-notation.vcxproj.filters
revers-polish-notation/revers-polish-notation.vcxproj.user
deque/deque.vcxproj
deque/deque.vcxproj.filters
deque/deque.vcxproj.user
Debug/algs-and-structs-lab.exe
Debug/algs-and-structs-lab.ilk
Debug/algs-and-structs-lab.pdb
Debug/deque.exe
Debug/deque.ilk
Debug/deque.pdb
Debug/revers-polish-notation.exe
Debug/revers-polish-notation.ilk
Debug/revers-polish-notation.pdb
Debug/stack.exe
Debug/stack.ilk
Debug/stack.pdb
algs-and-structs-lab/Source.cpp
algs-and-structs-lab/algs-and-structs-lab.vcxproj
algs-and-structs-lab/algs-and-structs-lab.vcxproj.filters
algs-and-structs-lab/algs-and-structs-lab.vcxproj.user
.vs/algs-and-structs-lab/v16/.suo
.vs/algs-and-structs-lab/v16/Browse.VC.db
.vs/algs-and-structs-lab/v16/Solution.VC.db
.vs/algs-and-structs-lab/v16/Solution.VC.db-shm
.vs/algs-and-structs-lab/v16/Solution.VC.db-wal
.vs/algs-and-structs-lab/v16/ipch/AutoPCH/215b59dd5d451c0d/REVERSEPOLISHNOTATION.ipch
.vs/algs-and-structs-lab/v16/ipch/AutoPCH/287d9fb2a88c44ad/REVERSEPOLISHNOTATION.ipch
.vs/algs-and-structs-lab/v16/ipch/AutoPCH/4f5253d4f96f6ce3/SOURCE.ipch
.vs/algs-and-structs-lab/v16/ipch/AutoPCH/57b24501207e80a1/SOURCE.ipch
.vs/algs-and-structs-lab/v16/ipch/AutoPCH/779dc765b31b2815/SOURCE.ipch
.vs/algs-and-structs-lab/v16/ipch/AutoPCH/8fde5ab43e5b6360/DEQUE.ipch
.vs/algs-and-structs-lab/v16/ipch/AutoPCH/91e4e8e39edc9720/STACK.ipch
.vs/algs-and-structs-lab/v16/ipch/AutoPCH/b4745b9982307171/SOURCE.ipch
.vs/algs-and-structs-lab/v16/ipch/AutoPCH/f27e014251804a21/SOURCE.ipch
